<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-sm border d-flex flex-column align-items-center">
    <div class="btn-toolbar justify-content-between" style="width: 100%;" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn border">
            <i class="material-icons">grid_view</i>
        </button>
        <button type="button" class="btn border">
            <i class="material-icons">sort</i>
        </button>
        <button type="button" class="btn border">
            <i class="material-icons">arrow_upward</i>
        </button>
        <button type="button" class="btn border">
            <i class="material-icons">arrow_downward</i>
        </button>
      </div>
      <div class="input-group" style="width: 50%;">
        <div class="input-group-text" id="btnGroupAddon">Search Bar</div>
        <input type="text" class="form-control" placeholder="Search for reviews..." aria-label="Input group example" aria-describedby="btnGroupAddon">
      </div>
    </div>
</div>
